track-the-ticket.com {
    reverse_proxy frontend:80
}

app.track-the-ticket.com {
    redir https://track-the-ticket.com{uri} permanent
}

api.track-the-ticket.com {
    reverse_proxy api:8000
    request_body {
        max_size 10MB
    }
}
