# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=tracktheticket
DB_USERNAME=tracktheticket_admin
DB_PASSWORD=your_password_here

# AWS
AWS_REGION=us-east-1
SCREENSHOTS_BUCKET=tracktheticket-screenshots-prod

# Auth
COGNITO_USER_POOL_ID=us-east-1_hrinh8lMm
COGNITO_REGION=us-east-1

# App
ENVIRONMENT=local
